@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

input{
    width: 90%;
}

.nav_bar{
    background: linear-gradient(90deg, #fff 20%, #efb49596 60%);
    font-family: 'Indie Flower', cursive;
    color: white;
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
    font-size: x-large;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.presentacion{
    height: auto;
    background: center / cover no-repeat url("/resources/img/pattern-elements-made-with-pieces-food.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Serif JP', serif;
    align-items: center;
}

.presentation_text{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    height: 300px;
    color:white;   
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}

.presentation_text h1{    
    font-family: 'Cabin Sketch', cursive; 
    font-size: 60px;
}

.presentation_text p{
    font-family: 'Capriola', sans-serif;
    font-size: 30px;
    padding: 2%;
    text-align: center;
}

.filter{
    background-color: #EFD595;
    width: 80%;
    margin: 2%;
    padding: 2%;
}

.inputs{
    font-family: 'Capriola', sans-serif;
    color:#EF9595;  
}

.link{
    color:white;
    text-decoration: none;
}

.logo{
    padding: 10px;
    vertical-align: middle;
    color:#EF9595;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.button-24 {
    background: #EFB495;
    border: 1px solid #EFB495;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.filter_section{
    width: 40%;
}

.button_section{
    display: flex;
    justify-content: end;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}

.aside{
    display: flex;
}

.side_bar{
    display: flex;
    flex-direction: column;
    position:fixed;
    height: 80%;
    width: 20%;
    background-color: #EFD595;
    padding: 2%;
    box-shadow: EFD595 0px 0px 0px 3px;
    border-radius: 10px;
}

@media screen and (max-width: 734px){ 
    .button_section{
        display: flex;
        justify-content: center;
    }
}


