@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

input{
    width: 90%;
}

.nav_bar{
    background: linear-gradient(90deg, #fff 20%, #b5c99aa9 60%);
    font-family: 'Indie Flower', cursive;
    color: white;
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
    font-size: x-large;
    z-index: 10000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.presentacion{
    height: auto;
    background: center / cover no-repeat url("../resources/img/pattern-elements-made-with-pieces-food.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Serif JP', serif;
    align-items: center;
}

.presentation_text{
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    height: 300px;
    color:white;   
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}

.presentation_text h1{    
    font-family: 'Cabin Sketch', cursive; 
    font-size: 60px;
}

.presentation_text p{
    font-family: 'Capriola', sans-serif;
    font-size: 30px;
    padding: 2%;
    text-align: center;
}

.recipes_section{
    font-family: 'Capriola', sans-serif;
    text-align: center;
    text-decoration: none;
}

.filter{
    background-color: #FFF9C9;
    width: 80%;
    margin: 2%;
    padding: 2%;
}

.inputs{
    font-family: 'Capriola', sans-serif;
    color:#862B0D;  
}

.link{
    color:white;
    text-decoration: none;
}

.logo{
    padding: 10px;
    vertical-align: middle;
    color:#862B0D;
}

.card{
    box-shadow: 0px, 1px, 10px, rgba(0,0,0,0.2);
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#862B0D;
}

.card-text{
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
    color:#862B0D;
}

.card-title{
    display: -webkit-box;
    text-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
}

.button-24 {
    background: #B5C99A;
    border: 1px solid #862B0D;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.filter_section{
    width: 40%;
}

.shadow_box{
    box-shadow: rgba(239, 149, 149, 0.3) 0px 0px 0px 3px;    
}

.button_section{
    display: flex;
    justify-content: end;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #862B0D;
}

.button-24:active {
    opacity: .5;
}

@media screen and (max-width: 734px){ 
    .button_section{
        display: flex;
        justify-content: center;
    }

    .form-control{
        width: 90% !important;
    }

    .recipesContainer, .recipes_section{
        justify-content: center;
    }

    .presentation_text h1{
        text-align: center;
    }

    .presentation_text p{
        font-size: 15px;
    }

    .logo{
        font-size: large;
    }
}


